.home {
  margin: 0 35px;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

/* .home .swiper-slide {
} */
.home .swiper-slide img {
  border-radius: 20px !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  .home {
    height: 100% !important;
    margin: 40px 0 0 0 !important;
  }
  .home .swiper-slide img {
    border-radius: 3px !important;
  }
}

.home .swiper-button-prev,
.home .swiper-button-next {
  transition: 0.4s;
  width: 45px;
  height: 45px;
  padding: 11px;
  font-weight: bold;
  border-radius: 100%;
  color: black;
  background-color: white;
  position: absolute;

  --swiper-navigation-sides-offset: 3px;
  right: 0;
}

.home .swiper-slide img {
  border-radius: 20px !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  .home {
    height: 100% !important;
    margin: 40px 0 0 0 !important;
  }
  .home .swiper-slide img {
    border-radius: 3px !important;
  }
  .home .swiper-button-prev,
  .home .swiper-button-next {
    width: 30px;
    height: 30px;
    padding: 8px;
  }
}

.home .swiper-pagination span {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(11, 11, 11);
}
.home .swiper-pagination span.swiper-pagination-bullet-active {
  background-color: orangered;
}
